:root {

    /* =========================
       Colors
       ========================= */

    --color-black: #1C232B;
    --color-grey: #6C7289;
    --color-cream: #F2EAE2;
    --color-white: #FFFFFF;
    --color-green-500: #3D8168;
    --color-green-700: #1A4032;


    /* =========================
       Fonts
       ========================= */

    --font-heading: "Fraunces", serif;
    --font-body: "Montserrat", sans-serif;


    /* =========================
       Typography Presets
       ========================= */

    /* Preset 1 — Product name */
    --text-preset-1-font-family: var(--font-heading);
    --text-preset-1-font-size: 32px;
    --text-preset-1-font-weight: 700;
    --text-preset-1-line-height: 100%;
    --text-preset-1-letter-spacing: 0;


    /* Preset 2 — Price */
    --text-preset-2-font-family: var(--font-body);
    --text-preset-2-font-size: 14px;
    --text-preset-2-font-weight: 700;
    --text-preset-2-line-height: 110%;
    --text-preset-2-letter-spacing: 0;


    /* Preset 3 — Description */
    --text-preset-3-font-family: var(--font-body);
    --text-preset-3-font-size: 14px;
    --text-preset-3-font-weight: 500;
    --text-preset-3-line-height: 160%;
    --text-preset-3-letter-spacing: 0;


    /* Preset 4 — Category */
    --text-preset-4-font-family: var(--font-body);
    --text-preset-4-font-size: 12px;
    --text-preset-4-font-weight: 500;
    --text-preset-4-line-height: 120%;
    --text-preset-4-letter-spacing: 5px;


    /* Preset 5 — Button */
    --text-preset-5-font-family: var(--font-body);
    --text-preset-5-font-size: 14px;
    --text-preset-5-font-weight: 700;
    --text-preset-5-line-height: 110%;
    --text-preset-5-letter-spacing: 0;


    /* =========================
       Spacing
       ========================= */

    --spacing-500: 40px;
    --spacing-400: 32px;
    --spacing-300: 24px;
    --spacing-200: 16px;
    --spacing-100: 8px;
    --spacing-50: 4px;
}

body {
    background: var(--color-cream);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-component {
    background: var(--color-white);
    border-radius: 8px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr;
    width: clamp(350px, 90vw, 100%);
    height: 750px;
}

.left-side {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
}

.right-side {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-evenly;
   padding-left: var(--spacing-300);
   padding-right: var(--spacing-300);

}
/* styling for the button */
button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--color-green-500);
    border: none var(--color-grey);
    border-radius: 8px;
    align-items: center;
    width: 100%;
    height: 3.125rem;

}

button img {
    width: auto;
}


.add-to-cart, .cart-icon {
    font-family: var(--text-preset-2-font-family);
    font-size: var(--text-preset-2-font-size);
    color: var(--color-white);
    line-height: var(--text-preset-2-line-height);
    letter-spacing: var(--text-preset-2-letter-spacing);
    font-weight: var(--text-preset-2-font-weight);
    object-fit: scale-down;
}

.add-to-cart:hover {
    background-color: var(--color-green-700);

}
/* end of styling for the button */

img {
    display: block;
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}



.desktop-img {
    display: none;
}

p.card-title {
    font-family: var(--text-preset-4-font-family);
    font-size: var(--text-preset-4-font-size);
    color: var(--color-grey);
    letter-spacing: var(--text-preset-4-letter-spacing);
    line-height: var(--text-preset-4-line-height);
    font-weight: var(--text-preset-4-font-weight);
}

h1 {
    font-family: var(--text-preset-1-font-family);
    font-size: var(--text-preset-1-font-size);
    color: var(--color-black);
    letter-spacing: var(--text-preset-1-letter-spacing);
    line-height: var(--text-preset-1-line-height);
    font-weight: var(--text-preset-1-font-weight);
}

main div {
    font-family: var(--text-preset-3-font-family);
    font-size: var(--text-preset-3-font-size);
    color: var(--color-grey);
    letter-spacing: var(--text-preset-3-letter-spacing);
    line-height: var(--text-preset-3-line-height);
    font-weight: var(--text-preset-3-font-weight);
}

div .sale-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-200);
    font-family: var(--text-preset-1-font-family);
    font-size: var(--text-preset-1-font-size);
    color: var(--color-green-500);
    letter-spacing: var(--text-preset-1-letter-spacing);
    line-height: var(--text-preset-1-line-height);
    font-weight: var(--text-preset-1-font-weight);
}

.reg-price {
    font-family: var(--text-preset-5-font-family);
    font-size: var(--text-preset-5-font-size);
    color: var(--color-grey);
    letter-spacing: var(--text-preset-5-letter-spacing);
    line-height: var(--text-preset-5-line-height);
    font-weight: var(--text-preset-5-font-weight);
    

}

/* Footer section */

footer {
    
    display: flex;
    flex-direction: row;
    
}

.attribution { 
    font-size: 0.6875rem; 
    text-align: center;
    flex-wrap: nowrap;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


/* Set up for Tablets/Desktop */
@media (min-width: 768px) {
   
.card-component {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0;
    width: 600px;
    height: 456px;
    
   }

.mobile-img {
    display: none !important;
}

.desktop-img {
    display: block !important;
    
}
}












